body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: PoppinsRegular;
  src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsSemiBoldItalic;
  src: url(Poppins/Poppins-SemiBoldItalic.ttf);
}
